.desktop {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #f4f4f4;
    border: 1px solid;
    border-color: #000000;
    height: 2380px;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.desktop .overlap {
    height: 2270px;
    left: -1px;
    position: absolute;
    top: 110px;
    width: 1923px;
}

.desktop .overlap-group {
    height: 2270px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1923px;
}

.desktop .pngwing {
    height: 1423px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 847px;
    width: 1920px;
}

.desktop .top-info {
    height: 44px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 1922px;
}

.desktop .exposure-to-sunlight-wrapper {
    background-color: var(--leafgreen);
    height: 44px;
    position: relative;
    width: 1920px;
}

.desktop .exposure-to-sunlight {
    color: #f4f4f4;
    font-family: "Jura-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 228px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.desktop .group {
    height: 114px;
    left: 766px;
    position: absolute;
    top: 2111px;
    width: 391px;
}

.desktop .need-help-contact-us {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.desktop .img {
    height: 103px;
    left: 286px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 103px;
}

.desktop .rectangle {
    background-color: #509c1938;
    height: 2051px;
    left: 1px;
    position: absolute;
    top: 41px;
    width: 485px;
}

.desktop .manager-icon {
    height: 114px;
    left: 42px;
    object-fit: cover;
    position: absolute;
    top: 70px;
    width: 114px;
}

.desktop .text-wrapper {
    color: #000000;
    font-family: "Jura-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 197px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 107px;
    width: 243px;
}

.desktop .rectangle-2 {
    background-color: #509c19;
    height: 95px;
    left: 1px;
    position: absolute;
    top: 210px;
    width: 485px;
}

.desktop .frame {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 45px;
    position: absolute;
    top: 219px;
}

.desktop .ellipse {
    background-color: #6bddd6;
    border-radius: 37.5px;
    height: 75px;
    position: relative;
    width: 75px;
}

.desktop .text-wrapper-2 {
    color: #ffffff;
    font-family: "Jost-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
}

.desktop .text-wrapper-3 {
    color: #ffffff;
    font-family: "Jost-Bold", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 172px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 229px;
    width: 293px;
}

.desktop .sensoricon {
    height: 80px;
    left: 55px;
    object-fit: cover;
    position: absolute;
    top: 351px;
    width: 88px;
}

.desktop .house-icon {
    height: 80px;
    left: 55px;
    object-fit: cover;
    position: absolute;
    top: 1072px;
    width: 88px;
}

.desktop .calendar-icon {
    height: 92px;
    left: 61px;
    object-fit: cover;
    position: absolute;
    top: 1766px;
    width: 82px;
}

.desktop .statsicon {
    height: 92px;
    left: 51px;
    object-fit: cover;
    position: absolute;
    top: 1884px;
    width: 101px;
}

.desktop .historyicon {
    height: 73px;
    left: 61px;
    object-fit: cover;
    position: absolute;
    top: 2001px;
    width: 76px;
}

.desktop .text-wrapper-4 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 198px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 371px;
    white-space: nowrap;
}

.desktop .text-wrapper-5 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 198px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1803px;
    white-space: nowrap;
}

.desktop .text-wrapper-6 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 202px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1906px;
    white-space: nowrap;
}

.desktop .text-wrapper-7 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 202px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2018px;
    white-space: nowrap;
}

.desktop .arrow-routines {
    height: 54px;
    left: 410px;
    object-fit: cover;
    position: absolute;
    top: 1796px;
    width: 55px;
}

.desktop .rooms {
    height: 663px;
    left: 0;
    position: absolute;
    top: 1084px;
    width: 497px;
}

.desktop .overlap-2 {
    background-color: #509c1926;
    height: 592px;
    left: 0;
    position: absolute;
    top: 71px;
    width: 485px;
}

.desktop .humidity {
    height: 90px;
    left: 93px;
    object-fit: cover;
    position: absolute;
    top: 249px;
    width: 90px;
}

.desktop .humidity-2 {
    height: 90px;
    left: 93px;
    object-fit: cover;
    position: absolute;
    top: 359px;
    width: 90px;
}

.desktop .air-pollution {
    height: 89px;
    left: 76px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 124px;
}

.desktop .img-2 {
    height: 84px;
    left: 95px;
    object-fit: cover;
    position: absolute;
    top: 481px;
    width: 84px;
}

.desktop .text-wrapper-8 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 232px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
    white-space: nowrap;
}

.desktop .text-wrapper-9 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 228px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 169px;
    white-space: nowrap;
}

.desktop .text-wrapper-10 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 226px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 279px;
    white-space: nowrap;
}

.desktop .text-wrapper-11 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 228px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 391px;
    white-space: nowrap;
}

.desktop .text-wrapper-12 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 508px;
    white-space: nowrap;
}

.desktop .text-wrapper-13 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 198px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
    white-space: nowrap;
}

.desktop .arrow-rooms {
    height: 55px;
    left: 411px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 54px;
}

.desktop .sensors {
    height: 670px;
    left: 1px;
    position: absolute;
    top: 363px;
    width: 495px;
}

.desktop .overlap-3 {
    height: 592px;
    left: 0;
    position: absolute;
    top: 78px;
    width: 485px;
}

.desktop .sunlight-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 117px;
    justify-content: center;
    left: 60px;
    position: absolute;
    top: 125px;
    width: 156px;
}

.desktop .sunlight {
    height: 98px;
    object-fit: cover;
    position: relative;
    width: 105px;
}

.desktop .rectangle-3 {
    height: 592px;
    left: 0;
    position: absolute;
    top: 0;
    width: 485px;
}

.desktop .text-wrapper-14 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 237px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    white-space: nowrap;
}

.desktop .text-wrapper-15 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 233px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 165px;
    white-space: nowrap;
}

.desktop .text-wrapper-16 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 275px;
    white-space: nowrap;
}

.desktop .text-wrapper-17 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 233px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 387px;
    white-space: nowrap;
}

.desktop .text-wrapper-18 {
    color: #000000;
    font-family: "Jura-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 236px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 504px;
    white-space: nowrap;
}

.desktop .humidity-3 {
    height: 90px;
    left: 89px;
    object-fit: cover;
    position: absolute;
    top: 249px;
    width: 90px;
}

.desktop .sound-icon {
    height: 138px;
    left: 63px;
    object-fit: cover;
    position: absolute;
    top: 337px;
    width: 157px;
}

.desktop .air-pollution-2 {
    height: 89px;
    left: 89px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 90px;
}

.desktop .arrow-sensors {
    height: 55px;
    left: 410px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 54px;
}

.desktop .line {
    height: 3px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 1876px;
    width: 485px;
}

.desktop .line-2 {
    height: 3px;
    left: 2px;
    object-fit: cover;
    position: absolute;
    top: 1975px;
    width: 485px;
}

.desktop .img-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 117px;
    justify-content: center;
    left: 60px;
    position: absolute;
    top: 1280px;
    width: 156px;
}

.desktop .line-3 {
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 907px;
    width: 485px;
}

.desktop .line-4 {
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 1621px;
    width: 484px;
}

.desktop .text-wrapper-19 {
    color: #000000;
    font-family: "Jost-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 1104px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1092px;
}

.desktop .bar-graph {
    height: 764px;
    left: 515px;
    object-fit: cover;
    position: absolute;
    top: 219px;
    width: 1389px;
}

.desktop .KITCHEN-area-is-at {
    color: #000000;
    font-family: "Jost-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 670px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1263px;
    width: 970px;
}

.desktop .p {
    color: #000000;
    font-family: "Jost-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 996px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 137px;
}

.desktop .top-border-page {
    height: 110px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
}

.desktop .overlap-4 {
    background-color: var(--lightgreybg);
    height: 110px;
    position: relative;
    width: 1920px;
}

.desktop .text-wrapper-20 {
    color: #000000;
    font-family: "Jura-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 141px;
}

.desktop .text-wrapper-21 {
    color: #000000;
    font-family: "Jura-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 324px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 141px;
}

.desktop .user-icon {
    height: 58px;
    left: 1657px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 59px;
}

.desktop .green-leaves-logo {
    height: 110px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 121px;
}
