.desktop {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #f4f4f4;
    height: 3057px;
    overflow: hidden;
    position: relative;
    width: 1920px;
  }
  
  .desktop .top-border-page {
    height: 110px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .desktop .overlap-group {
    background-color: var(--lightgreybg);
    height: 110px;
    position: relative;
    width: 1920px;
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 141px;
  }
  
  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 324px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 141px;
  }
  
  .desktop .user-icon {
    height: 58px;
    left: 1657px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 59px;
  }
  
  .desktop .green-leaves-logo {
    height: 110px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 121px;
  }
  
  .desktop .top-info {
    height: 44px;
    left: 0;
    position: absolute;
    top: 110px;
    width: 1922px;
  }
  
  .desktop .overlap {
    background-color: var(--leafgreen);
    height: 44px;
    position: relative;
    width: 1920px;
  }
  
  .desktop .p {
    color: #f4f4f4;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 193px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .desktop .overlap-2 {
    background-color: #509c1938;
    height: 335px;
    left: 0;
    position: absolute;
    top: 904px;
    width: 1920px;
  }
  
  .desktop .room-current-routine {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 399px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 82px;
  }
  
  .desktop .frame {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    left: 879px;
    position: absolute;
    top: 81px;
  }
  
  .desktop .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .desktop .group {
    height: 64px;
    margin-right: -2px;
    position: relative;
    width: 644px;
  }
  
  .desktop .overlap-group-2 {
    height: 64px;
    position: relative;
    width: 642px;
  }
  
  .desktop .rectangle {
    background-color: #509c19b2;
    height: 30px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 642px;
  }
  
  .desktop .pngwing {
    height: 64px;
    left: 571px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 55px;
  }
  
  .desktop .text-wrapper-3 {
    color: #ffffff;
    font-family: "Jost-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 193px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
  }
  
  .desktop .overlap-wrapper {
    height: 65px;
    margin-right: -2px;
    position: relative;
    width: 644px;
  }
  
  .desktop .overlap-3 {
    height: 65px;
    position: relative;
    width: 642px;
  }
  
  .desktop .rectangle-2 {
    background-color: #509c19b2;
    height: 30px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 642px;
  }
  
  .desktop .text-wrapper-4 {
    color: #ffffff;
    font-family: "Jost-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 194px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
  }
  
  .desktop .overlap-group-wrapper {
    height: 58px;
    margin-right: -2px;
    position: relative;
    width: 644px;
  }
  
  .desktop .overlap-4 {
    height: 58px;
    position: relative;
    width: 642px;
  }
  
  .desktop .rectangle-3 {
    background-color: #509c19b2;
    height: 30px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 642px;
  }
  
  .desktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "Jost-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 297px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .overlap-5 {
    background-color: #509c1938;
    height: 335px;
    left: 0;
    position: absolute;
    top: 2527px;
    width: 1920px;
  }
  
  .desktop .based-off-your {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 212px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 142px;
  }
  
  .desktop .great-job {
    height: 262px;
    left: 1564px;
    object-fit: cover;
    position: absolute;
    top: 37px;
    width: 262px;
  }
  
  .desktop .text-wrapper-6 {
    color: #000000;
    font-family: "Jost-ExtraBold", Helvetica;
    font-size: 48px;
    font-weight: 800;
    left: 212px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
  }
  
  .desktop .overlap-6 {
    height: 453px;
    left: 162px;
    position: absolute;
    top: 383px;
    width: 1636px;
  }
  
  .desktop .overlap-7 {
    height: 449px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1636px;
  }
  
  .desktop .sensors {
    height: 347px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 1636px;
  }
  
  .desktop .air-pollution {
    height: 272px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 59px;
    width: 277px;
  }
  
  .desktop .sunlight {
    height: 331px;
    left: 312px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 327px;
  }
  
  .desktop .humidity {
    height: 272px;
    left: 674px;
    object-fit: cover;
    position: absolute;
    top: 42px;
    width: 268px;
  }
  
  .desktop .sound-icon {
    height: 305px;
    left: 977px;
    object-fit: cover;
    position: absolute;
    top: 42px;
    width: 299px;
  }
  
  .desktop .add-more {
    height: 302px;
    left: 1311px;
    object-fit: cover;
    position: absolute;
    top: 44px;
    width: 325px;
  }
  
  .desktop .text-wrapper-7 {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 1371px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 392px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-8 {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-9 {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 396px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-10 {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 323px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 396px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-11 {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 710px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 396px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-12 {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 952px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 396px;
    white-space: nowrap;
  }
  
  .desktop .overlap-8 {
    height: 177px;
    left: 184px;
    position: absolute;
    top: 168px;
    width: 1551px;
  }
  
  .desktop .text-wrapper-13 {
    color: #000000;
    font-family: "Jura Bold", Helvetica;
    font-size: 70px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 70px;
    width: 1551px;
  }
  
  .desktop .img {
    height: 71px;
    left: 1467px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 71px;
  }
  
  .desktop .div-wrapper {
    background-image: url(./images/bar-graph-presentation-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1178px;
    left: 227px;
    position: absolute;
    top: 1294px;
    width: 1531px;
  }
  
  .desktop .text-wrapper-14 {
    color: #000000;
    font-family: "Jost-ExtraBold", Helvetica;
    font-size: 48px;
    font-weight: 800;
    left: 972px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 121px;
  }
  
  .desktop .group-2 {
    height: 114px;
    left: 715px;
    position: absolute;
    top: 2917px;
    width: 391px;
  }
  
  .desktop .need-help-contact-us {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .pngwing-2 {
    height: 103px;
    left: 286px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 103px;
  }
  