.desktop {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #f4f4f4;
    height: 1818px;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.desktop .overlap {
    height: 1520px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
}

.desktop .top-info {
    height: 44px;
    left: 0;
    position: absolute;
    top: 110px;
    width: 1922px;
}

.desktop .overlap-group {
    background-color: var(--leafgreen);
    height: 44px;
    position: relative;
    width: 1920px;
}

.desktop .exposure-to-sunlight {
    color: #f4f4f4;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.desktop .top-border-page {
    height: 110px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
}

.desktop .overlap-2 {
    background-color: var(--lightgreybg);
    height: 110px;
    position: relative;
    width: 1920px;
}

.desktop .text-wrapper {
    color: #000000;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 141px;
}

.desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 324px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 141px;
}

.desktop .text-wrapper-contact {
    color: #000000;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 486px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 141px;
}

.desktop .green-leaves-logo {
    height: 110px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 121px;
}

.desktop .pngwing {
    height: 1317px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 607px;
}

.desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Jura Bold", Helvetica;
    font-size: 70px;
    font-weight: 700;
    left: 184px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 199px;
    width: 1551px;
}

.desktop .rectangle {
    background-color: #509c1938;
    height: 596px;
    left: 0;
    position: absolute;
    top: 920px;
    width: 1920px;
}

.desktop .img {
    height: 600px;
    left: 162px;
    object-fit: cover;
    position: absolute;
    top: 920px;
    width: 600px;
}

.desktop .frame {
    align-items: center;
    background-color: #509c19;
    border-radius: 60px;
    display: flex;
    gap: 10px;
    height: 155px;
    justify-content: center;
    left: 560px;
    overflow: hidden;
    padding: 12px 18px;
    position: absolute;
    top: 401px;
    width: 537px;
}

.desktop .i-wish-to-use-it-for {
    color: #f4f4f4;
    font-family: "Jura SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -2.5px;
    margin-right: -2.5px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.desktop .rectangle-2 {
    background-color: #509c19;
    border-radius: 60px;
    height: 159px;
    left: 808px;
    position: absolute;
    top: 1040px;
    width: 970px;
}

.desktop .p {
    color: #f4f4f4;
    font-family: "Jura SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    height: 94px;
    left: 838px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1028px;
    width: 909px;
}

.desktop .manage-one-room-in {
    color: #000000;
    font-family: "Jura Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 525px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 590px;
    width: 629px;
}

.desktop .access-to-everything {
    color: #000000;
    font-family: "Jura Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 808px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1189px;
    width: 950px;
}

.desktop .pngwing-2 {
    height: 438px;
    left: 1321px;
    object-fit: cover;
    position: absolute;
    top: 390px;
    width: 447px;
}

.desktop .group {
    height: 114px;
    left: 762px;
    position: absolute;
    top: 1606px;
    width: 391px;
}

.desktop .need-help-contact-us {
    color: #000000;
    font-family: "Jura Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.desktop .pngwing-3 {
    height: 103px;
    left: 286px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 103px;
}
